*{
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: avigea;
    src: url("../assets/fonts/Avigea.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid a {
    color: green;
}

.navbar-brand {
    font-family: avigea;
}

.textoBamboo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: .9375rem;
}

.textoBamboo h1{
    color: #4CAF50;
}

.textoBamboo p{
    margin-left: .625rem;
    margin-right: .625rem;
}

.textoBamboo span{
    color: rgb(35, 124, 35);
    font-weight:500;
}

.bambooSpan , h1 {
    display: flex;
    justify-content: center;
    font-family: avigea;  
}


.reservacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formTexto {
    display: flex;
    justify-content: center;
    color: #4CAF50;
    margin-top: .9375rem;
}

.reservation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    align-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

select, input[type="number"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.botonReservar {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    grid-column: span 2; 
}

button:hover {
    background-color: #45a049;
}

.serviciosBamboo {
    background-image: url("../assets/bamboo.png");
}

.serviciosBamboo h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0rem;
    padding-top: .625rem;
    color: #4CAF50;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .625rem;
}

.card-img-top{
    width: 6.25rem;
    height: 45vh;
}

.palabraClave {
    color: rgb(35, 124, 35) ;
}

.fondoFooter {
    background-color: #4CAF50;
}

.card{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.nav-item a{
    text-decoration: none;
    color: rgb(220, 255, 209);
}

.nav-item a:hover{
    color:#155724;
}

.card-body h4 {
    color: #155724;
}

.reserva-resumen {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    display: none;
}
button {
    margin: 10px;
    padding: 8px 12px;
}

.detalle-reserva {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #333;
    font-size: 1rem;
}

.boton {
    margin: 10px 5px 0;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.boton:hover {
    background-color: #0056b3;
}

.mensaje {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.mensaje.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.mensaje.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.clima {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 20px;
    padding: 15px;
    background-color:  #4CAF50;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 1rem;
    color: #ffffff;
}
